@import "../../../css/variables.css";

:root {
  --table-right-margin: 1rem;
}

.order-book {
  display: flex;
  margin-bottom: 5rem;
  max-height: 300px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--element-color);
  }
}

.order-book__table {
  width: calc(50% - var(--table-right-margin) / 2);

  &:not(:last-child) {
    margin-right: var(--table-right-margin);
  }

  & caption {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  & td {
    padding: 0.2rem;
  }
}
