@import "../../../css/variables.css";

:root {
  --board-background-color: #ebebeb;
}

.bitlish {
  padding: 15px;

  @media (--viewport-tablet-up) {
    padding: 50px;
  }  
}

.bitlish__board {
  padding: 30px 15px 60px;
  background-color: var(--board-background-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  @media (--viewport-phone-up) {
    width: 600px;
  }  
}

.order-book-enter {
  transition: opacity 0.8s ease;

  opacity: 0;

  &-active {
    opacity: 1;
  }
}
