@import "../../../css/variables.css";

.request-info {
  max-width: var(--request-field-max-width);
}

.request-info__header {
  font-size: 1.2rem;
  font-weight: 400;
}

.request-info__total {
  color: var(--element-color);
  font-size: 1.2rem;
  background-color: #fff;
  line-height: 2;
  padding: 0.2rem 0.6rem;
  text-overflow: ellipsis;
}