@import "../../../css/variables.css";

.request-field {
  max-width: var(--request-field-max-width);
}

.request-field__header {
  font-size: 1.2rem;
  font-weight: 400;
}

.order-form {
  display: flex;

  & input,
  & select {
    font-family: inherit;
    line-height: 2;
    font-weight: 400;
    font-size: 1.1rem;
  }

  & input {
    background-color: #fff;
    border: 1px solid var(--element-color);
    flex-grow: 1;
    min-width: calc(var(--request-field-max-width) / 5);
    padding: 0.2rem 0.6rem;
  }

  & select {
    border: none;
    color: #fff;
    background-color: var(--element-color);
    padding: 0.2rem 0.6rem;

    @media (--viewport-tablet-up) {
      padding: 0.2rem 2rem;
    }

    & option {
      background-color: #fff;
      color: var(--element-color);
    }
  }
}